castleNodeRed.json
[{"id":"2a099374.9a2dac","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"99336c78.4c8ab","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#0071c5","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#0071c5","edited":true},"page-titlebar-backgroundColor":{"value":"#0071c5","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#129aff","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#0071c5","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Minecraft Castle","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"89c7fde1.4503a","type":"ui_tab","z":"","name":"Minecraft Castle","icon":"dashboard"},{"id":"39206a8b.c5f8a6","type":"mqtt-broker","z":"","name":"Eclipse","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"/pruebasNodeRed","willQos":"0","willPayload":"","birthTopic":"/pruebasNodeRed","birthQos":"0","birthPayload":""},{"id":"8fb3768.b8ac088","type":"ui_group","z":"","name":"Castle outside","tab":"89c7fde1.4503a","order":2,"disp":true,"width":"6","collapse":false},{"id":"e4b868dc.4bb848","type":"ui_group","z":"","name":"Environment","tab":"89c7fde1.4503a","order":1,"disp":true,"width":"6","collapse":false},{"id":"af8cc9b6.e919d8","type":"ui_group","z":"","name":"Castle inside","tab":"89c7fde1.4503a","disp":true,"width":"6","collapse":false},{"id":"3e0dfd0b.2101e2","type":"ui_group","z":"","name":"Walls","tab":"89c7fde1.4503a","disp":true,"width":"6","collapse":false},{"id":"9244c093.ccefd","type":"ui_switch","z":"2a099374.9a2dac","name":"","label":"Daylight","group":"e4b868dc.4bb848","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"Light","onvalueType":"str","onicon":"","oncolor":"","offvalue":"No light","offvalueType":"str","officon":"","offcolor":"","x":114,"y":27,"wires":[["b81bda78.93ccf8","afc873e6.813d5"]]},{"id":"b3372389.28ee1","type":"ui_switch","z":"2a099374.9a2dac","name":"Level 1 Light","label":"Level 1 Light","group":"af8cc9b6.e919d8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":585,"y":387,"wires":[["810bd8d.aab2028"]]},{"id":"ebdb6a38.48e3d8","type":"ui_switch","z":"2a099374.9a2dac","name":"Level 0 Light","label":"Level 0 Light","group":"af8cc9b6.e919d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"/mc/nodeRed/CastleLight/0","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":585,"y":328,"wires":[["8bdf3f76.73035"]]},{"id":"de8a35c4.974498","type":"ui_switch","z":"2a099374.9a2dac","name":"Level 2 Light","label":"Level 2 Light","group":"af8cc9b6.e919d8","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":584,"y":438,"wires":[["df07f960.ddd098"]]},{"id":"c1ee785b.242278","type":"ui_switch","z":"2a099374.9a2dac","name":"Level 3 Light","label":"Level 3 Light","group":"af8cc9b6.e919d8","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","x":578,"y":482,"wires":[["c1bf6b4a.29b0d8"]]},{"id":"e42c3eaa.18b7a","type":"ui_slider","z":"2a099374.9a2dac","name":"Outter Walls Height","label":"Outter Walls Height","group":"3e0dfd0b.2101e2","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":"8","max":"50","step":1,"x":128,"y":165,"wires":[["447d014c.0b6a3","560144d.eb329bc"]]},{"id":"cff1b833.b88928","type":"ui_slider","z":"2a099374.9a2dac","name":"Inner Walls Height","label":"Inner Walls Height","group":"3e0dfd0b.2101e2","order":4,"width":0,"height":0,"passthru":true,"topic":"","min":"8","max":"50","step":1,"x":144,"y":247,"wires":[["92dac8ea.6bc438","b9fe4946.4225e8"]]},{"id":"447d014c.0b6a3","type":"ui_gauge","z":"2a099374.9a2dac","name":"","group":"3e0dfd0b.2101e2","order":3,"width":0,"height":0,"gtype":"gage","title":"Outter","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":331,"y":146,"wires":[]},{"id":"92dac8ea.6bc438","type":"ui_gauge","z":"2a099374.9a2dac","name":"","group":"3e0dfd0b.2101e2","order":5,"width":0,"height":0,"gtype":"gage","title":"Inner","label":"blocks","format":"{{value}}","min":"0","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":327,"y":226,"wires":[]},{"id":"560144d.eb329bc","type":"mqtt out","z":"2a099374.9a2dac","name":"","topic":"/mc/nodeRed/OutterWalls","qos":"","retain":"","broker":"39206a8b.c5f8a6","x":387,"y":183,"wires":[]},{"id":"b9fe4946.4225e8","type":"mqtt out","z":"2a099374.9a2dac","name":"","topic":"/mc/nodeRed/InnerWalls","qos":"","retain":"","broker":"39206a8b.c5f8a6","x":389,"y":260,"wires":[]},{"id":"8bdf3f76.73035","type":"mqtt out","z":"2a099374.9a2dac","name":"Level 0","topic":"/mc/nodeRed/CastleLight/0","qos":"0","retain":"true","broker":"39206a8b.c5f8a6","x":762,"y":325,"wires":[]},{"id":"810bd8d.aab2028","type":"mqtt out","z":"2a099374.9a2dac","name":"Level 1","topic":"/mc/nodeRed/CastleLight/1","qos":"","retain":"true","broker":"39206a8b.c5f8a6","x":760,"y":387,"wires":[]},{"id":"df07f960.ddd098","type":"mqtt out","z":"2a099374.9a2dac","name":"Level 2","topic":"/mc/nodeRed/CastleLight/2","qos":"","retain":"true","broker":"39206a8b.c5f8a6","x":761,"y":436,"wires":[]},{"id":"c1bf6b4a.29b0d8","type":"mqtt out","z":"2a099374.9a2dac","name":"Level 3","topic":"/mc/nodeRed/CastleLight/3","qos":"","retain":"true","broker":"39206a8b.c5f8a6","x":758,"y":477,"wires":[]},{"id":"36f9583.9a21fa8","type":"ui_text","z":"2a099374.9a2dac","group":"af8cc9b6.e919d8","order":2,"width":0,"height":0,"name":"","label":"Level 0 Lights","format":"{{msg.payload}}","layout":"row-center","x":414,"y":330,"wires":[]},{"id":"49453e03.0d91a","type":"mqtt in","z":"2a099374.9a2dac","name":"Level 0","topic":"/mc/nodeRed/CastleLight/0","qos":"0","broker":"39206a8b.c5f8a6","x":70,"y":331,"wires":[["d6ba833e.7c803"]]},{"id":"f0bfc782.c99958","type":"ui_text","z":"2a099374.9a2dac","group":"af8cc9b6.e919d8","order":4,"width":0,"height":0,"name":"","label":"Level 1 Lights","format":"{{msg.payload}}","layout":"row-center","x":241,"y":389,"wires":[]},{"id":"f2239038.691b2","type":"mqtt in","z":"2a099374.9a2dac","name":"Level 1","topic":"/mc/nodeRed/CastleLight/1","qos":"0","broker":"39206a8b.c5f8a6","x":68,"y":388,"wires":[["f0bfc782.c99958","d00bb16e.32e1b"]]},{"id":"9931a20b.20583","type":"ui_text","z":"2a099374.9a2dac","group":"af8cc9b6.e919d8","order":6,"width":0,"height":0,"name":"","label":"Level 2 Lights","format":"{{msg.payload}}","layout":"row-center","x":233,"y":436,"wires":[]},{"id":"fa20b396.ead92","type":"mqtt in","z":"2a099374.9a2dac","name":"Level 2","topic":"/mc/nodeRed/CastleLight/2","qos":"0","broker":"39206a8b.c5f8a6","x":65,"y":438,"wires":[["9931a20b.20583","5528ba60.c45024"]]},{"id":"9ba51362.a8b2c","type":"ui_text","z":"2a099374.9a2dac","group":"af8cc9b6.e919d8","order":8,"width":0,"height":0,"name":"","label":"Level 3 Lights","format":"{{msg.payload}}","layout":"row-center","x":231,"y":478,"wires":[]},{"id":"de6d0b62.bbd518","type":"mqtt in","z":"2a099374.9a2dac","name":"Level 3","topic":"/mc/nodeRed/CastleLight/3","qos":"0","broker":"39206a8b.c5f8a6","x":62,"y":481,"wires":[["9ba51362.a8b2c","1de69934.c8ea77"]]},{"id":"d6ba833e.7c803","type":"delay","z":"2a099374.9a2dac","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":221,"y":323,"wires":[["ebdb6a38.48e3d8","36f9583.9a21fa8"]]},{"id":"d00bb16e.32e1b","type":"delay","z":"2a099374.9a2dac","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":428,"y":390,"wires":[["b3372389.28ee1"]]},{"id":"5528ba60.c45024","type":"delay","z":"2a099374.9a2dac","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":422,"y":438,"wires":[["de8a35c4.974498"]]},{"id":"1de69934.c8ea77","type":"delay","z":"2a099374.9a2dac","name":"","pauseType":"rate","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":485,"wires":[["c1ee785b.242278"]]},{"id":"b81bda78.93ccf8","type":"mqtt out","z":"2a099374.9a2dac","name":"","topic":"/mc/nodeRed/Daylight","qos":"","retain":"true","broker":"39206a8b.c5f8a6","x":402,"y":26,"wires":[]},{"id":"afc873e6.813d5","type":"switch","z":"2a099374.9a2dac","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Light","vt":"str"},{"t":"eq","v":"No light","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":60,"wires":[["7acd296e.f332b8"],["f61d1747.fa4908"]]},{"id":"7acd296e.f332b8","type":"change","z":"2a099374.9a2dac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":20,"wires":[["8bdf3f76.73035","810bd8d.aab2028","df07f960.ddd098","c1bf6b4a.29b0d8"]]},{"id":"f61d1747.fa4908","type":"change","z":"2a099374.9a2dac","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"On","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["8bdf3f76.73035","810bd8d.aab2028","df07f960.ddd098","c1bf6b4a.29b0d8"]]},{"id":"8f9c4ae0.28fdf8","type":"mqtt in","z":"2a099374.9a2dac","name":"CastleGate","topic":"/mc/nodeRed/CastleGate","qos":"2","broker":"39206a8b.c5f8a6","x":100,"y":100,"wires":[["6df135b5.c2636c"]]},{"id":"6df135b5.c2636c","type":"ui_text","z":"2a099374.9a2dac","group":"8fb3768.b8ac088","order":0,"width":0,"height":0,"name":"","label":"CastleGate","format":"{{msg.payload}}","layout":"row-center","x":450,"y":100,"wires":[]}]